# exclude everything from results
Data/*
win-tools/*

Analisis/Plots/Models/Classification/*
Analisis/Plots/Models/Regression/*
Analisis/Plots/Models/Absolute/*
Servicio/DataAnalytics/.idea
Servicio/DataAnalytics/src/main/java/resources/static/absolute/*
Servicio/DataAnalytics/src/main/java/resources/static/html/absolute/*
Servicio/DataAnalytics/src/main/resources/static/html/absolute/*
.Rhistory

# exception to the rule
!win-tools/.gitkeep

!Data/Models/Classification/.gitkeep
!Data/Models/Regression/.gitkeep
!Data/Models/Absolute/.gitkeep

!Analisis/Plots/Models/Classification/.gitkeep
!Analisis/Plots/Models/Regression/.gitkeep
!Analisis/Plots/Models/Absolute/.gitkeep

# ignore all logs
*.log
/Servicio/DataAnalytics/target/
