# exclude everything from results
Data/*
Analisis/Plots/Models/Classification/*
Analisis/Plots/Models/Regression/*
Analisis/Plots/Models/Absolute/*
Servicio/DataAnalytics/.idea
.Rhistory

# exception to the rule
!Data/.gitkeep
!Analisis/Plots/Models/Classification/.gitkeep
!Analisis/Plots/Models/Regression/.gitkeep
!Analisis/Plots/Models/Absolute/.gitkeep

# ignore all logs
*.log
/Servicio/DataAnalytics/target/